body{
    background: url('/фото/фон2.jpg') ;
    
    
/*background-color:#c7c7c7 ;*/
    font-family: Georgia, 'Times New Roman', Times, serif;
    }
.ok{
    background: green;
}

.w_text{
    color: #ffffff;
}

.fon1{
    background: url('/фото/фон_ванная\(темная\)1.jpg') no-repeat;
    background-size: cover;
    height: 450px;   
}

.fon2{
    background: url('/фото/магазин.jpg') no-repeat;
    background-size: cover;
    height: 450px;   
}

.item{
    width: 30%;  
}

.box_big{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 25px;
}

.img1{
    width: 100%;
    max-width: 500px;
}

.jpgr{
    width: 100%; 
    height: 80%;
}

.jpg_cat{
    width: 100%; 
    object-fit: cover;
    aspect-ratio: 1/1;
}

.jpg_basket{
   
   width: 100%; 
   object-fit: cover;
   aspect-ratio: 1/1;
}

.jpg_basketmain{
    
    width: 20%; 
 }

 .name_basketmain{
    width: 50%;
 }

.fon_basket{
    background-color: #bbb9b9;
}
.jpgr:hover{
  
    box-shadow: -16px 18px 38px 10px #808080;
}

.text_cat{
    font-family: "Times New Roman", Times, serif;
    font-size: 21px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #000000de;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.zakaz{
    width: 100%;
}


/*@media(max-width: 1200px){
    .img1{
        height: 340px;

    } 
}
*/

.box1{
    width: 45%; 
    min-width:422px ;
}

.box_list{
    width: 31%;
}
@media(max-width: 992px){
    .box_big{
        justify-content: center;       
    } 
    .box1{
        width: 100%; 
    }

    .box1_none{
        display: none;
    }
    .item_text{
        justify-content: center; 
    }
    .item{
        width: 100%;  
    }
    .fon2{
        height: 650px;   
    }
    .box_list{
        width: 48%;
    }
}

@media(max-width: 550px){
    .box_list{
        width: 100%;
    } 
}

.text_price{
    font-weight: 700;
    font-size: 20px;
}
.text_pricecard{
    font-weight: 700;
    font-size: 30px;
}

.scale {
    display: inline-block; /* Строчно-блочный элемент */
    overflow: hidden; /* Скрываем всё за контуром */
   }
   .scale img {
    transition: 1s; /* Время эффекта */
    display: block; /* Убираем небольшой отступ снизу */
   }
   .scale img:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
   }
.a_href{
    text-decoration: none;
    color: black;
}   
.afisha{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 25px;
}
@media(max-width: 990px){
    .afisha{

        justify-content: center;
        
    } 
} 

.cardbox_img{
    width: 60%; 
}

.cardbox_text{
    width: 38%; 
}

.book {
    width: 100%;
  }
  p {
      overflow: hidden;
  }
  p:after {  content:'.........................................................................................................';
    display: block;
    white-space: nowrap;
    overflow: hidden;
  }
  p span:first-of-type {
    float:left;
    margin-right: 10px;
  }
  p span:last-of-type {
    float:right;
    margin-left: 10px;
  }
  
 .new_tovar{
    height: 80%;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px; ;
 }

.cent{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.karta{
    width: 100%;
}
  
/*
.aaaaa{
    display: flex;
    flex-wrap: wrap; 
}



.fff{ 
    text-align: center 
}

.jpgr{
    width: 180px;
    height: 180px;
    border-radius: 10px;
}

.box1{
    width: 48%;
    min-width: 370px;
}

.afisha{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 25px;
}
@media(max-width: 990px){
    .afisha{

        justify-content: center;
        
    } 
} 

.jpg_big{
    width: 100%;  
    border-radius: 5%;
}

.small_box{
    font-size: 20px;
    font-weight: bold; 
    margin-top:10px;
}

.name{
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 30px;
font-weight: bold;
}
@media(max-width: 990px){
    .name{

        text-align: center;
        
    } 
} 
.name_small{
    font-size: 20px;
    font-weight: bold; 
}

.box2{
    background-color:#ffffff ;
    border-radius: 10px;

}

.box-btn{
    width: 180px;
    height: 180px;
}

